.home{
    .slider-home{
        margin: 1rem 0;
        display: flex;
        justify-content: center;
    }
    .variety-title{
        margin: 2rem 0 3.8rem 0;
        text-align: center;
        font-size: 33px;
        letter-spacing: 1.1rem;
    }
    .featured-products-title{
        margin: 5rem 0 3.2rem 0;
        text-align: center;
        font-size: 33px;
        letter-spacing: 1rem;
    }
    .featured-products-home-container{
        width: 100%;
    }
    .other-title{
        text-align: center;
        font-size: 33px;
        letter-spacing: 1rem;
        margin: 0 0 3rem 0;
    }
}