.featured-product-container {
    margin: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: linear-gradient(180deg, rgba(241, 241, 241, 0.079) 0%, rgba(232, 232, 232, 0) 100%);
    box-shadow: -0.03rem 0.03rem 0.3rem rgba(0, 0, 0, 0.834);
    border: 0.1px solid rgba(255, 0, 0, 0.891);
    border-radius: 3px;
    padding: 1rem 0.8rem 1rem 0.8rem;
    font-size: 19px;
    gap: 0.8rem;

    .product-image {
        height: 68%;
        width: 80%;
        padding: 1rem 1.1rem;
        border-radius: 3px;
        // border: solid rgba(77, 77, 77, 0.211) 1px;
        z-index: 10;
    }

    .product-title {
        letter-spacing: 0.3rem;
    }

    .product-price {
        font-size: 21px;
    }
}