* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  text-shadow: 0 0 0.08rem;
  * {
    transition: ease-in-out .2s linear;
  }

  &:hover {
    color: rgb(145, 142, 142);
  }
}

.nav {
  padding: 3.8rem 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-logo {
    font-size: 28px;
    font-weight: 100;
  }

  .nav-left {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-search {
      display: flex;
      .search-input {
        border-radius: 10px;
        height: 24px;
        width: 100%;
        border: solid black 1px;
      }
    }

    .nav-shop {
      font-size: 2rem;
      margin-right: 2.9%;
      letter-spacing: 0.2rem;
      font-family: 'Work Sans';
      font-weight: 380;
    }
  }

  .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;

    .nav-login {
      margin-left: 23%;
    }

    .cart-container {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      margin: 0 0 0 35%;
      .cart {
        margin: 0 1rem;
        width: 2.8rem;
        height: auto;
      }

      .cart-count {
        font-size: 1.29rem;
        position: absolute;
        top: 1rem;
        font-family: 'Work Sans';
        text-shadow: 0.01rem 0.01rem 0.01rem;
      }

    }

  }
}