@import '../../assets/saas-variables/media.scss';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  text-shadow: 0 0 0.08rem;

  * {
    transition: ease-in-out .2s linear;
  }

  &:hover {
    color: rgb(145, 142, 142);
  }
}

.dropdown-btn {
  position: absolute;
  right: 0.1rem;
}

.nav {
  padding: 0.8rem 3% 1.3rem 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
  position: sticky;
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) ,rgba(255, 255, 255, 0.413));
  .nav-logo {
    font-size: 28px;
    font-weight: 100;
  }

  .nav-left {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-search {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      margin-right: 10%;

      .search-svg {
        height: 1.8rem;
      }

      .search-input {
        border-radius: 10px;
        height: 24px;
        width: 100%;
        font-size: 1.1rem;
        padding: 0.05rem 0 0.05rem 0.5rem;
        border: solid black 1px;
      }
    }

    .nav-shop {
      font-size: 2rem;
      margin-right: 2.9%;
      letter-spacing: 0.2rem;
      font-family: 'Work Sans';
      font-weight: 380;
    }
  }

  .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;

    .nav-cart-container {
      height: 100%;
      margin: 0 0 0 35%;
    }

    .nav-login {
      margin-left: 23%;
    }


  }

  @media (max-width: $resp-layout){
    .nav-left {

      .nav-shop {
        margin: 0;
      }
    }

    .nav-right {
      .login-btn {
        margin: 0;
      }

      .nav-cart-container {
        margin: 0;

        .cart-container {
          .cart {
            margin: 0;
          }
        }

        .cartdropdown-container {
          transform: translate(-61%, -2%);
        }
      }
    }
  }
}
